$def with (scene)
<h1>Сцена $scene.branch </h1>

<pre>
    '\n\tСилы на исходе, и вы решаете осмотреть местность и как-то восполнить силы, перевязать раны.\n'
                  'Оглянувшись, вы видите ящики с красным крестами на них и направляетесь в их сторону. Внезапно из-за\n'
                  'ящиков раздаются странные металлические звуки: о нет! - на вас выбегает свора робопсов.\n'
                  '\tВаше внимание все это время было приковано к Пожирателю, и вы не заметили, что его постоянно \n'
                  'сопровождали эти железные твари, запрограммированные, как и Пожиратель, на ваше убийство. Вам ничего \n'
                  'не остается как выхватить бластер и начать отстреливаться.')
            f'\tВаш уровень сил равен !$scene.hero.health! и у вас всего !$scene.hero.gun! зарядов в бластере,\n'
                  f'на вас надвигается стая из {robodogs} злобных железяк.'
            '\tНу что ж, назад пути нет. Вы стреляете.'

</pre>
<p>

<form action="/robodogs" method="get">
    <p><button>Пли!</button></p>
</form>